// HelveticaNeue - BOLD 700
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeueBold.eot);
  src: url(../fonts/HelveticaNeueBold.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/HelveticaNeueBold.woff2) format("woff2"),
    url(../fonts/HelveticaNeueBold.woff) format("woff");
   font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// HelveticaNeue - Medium 500
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeueCyrMedium.eot);
  src: url(../fonts/HelveticaNeueCyrMedium.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/HelveticaNeueCyrMedium.woff2) format("woff2"),
    url(../fonts/HelveticaNeueCyrMedium.woff) format("woff");
   font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// HelveticaNeue - Light 300
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeueLight.eot);
  src: url(../fonts/HelveticaNeueLight.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/HelveticaNeueLight.woff2) format("woff2"),
    url(../fonts/HelveticaNeueLight.woff) format("woff");
   font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// HelveticaNeue - Regular 400
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeueRegular.eot);
  src: url(../fonts/HelveticaNeueRegular.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/HelveticaNeueRegular.woff2) format("woff2"),
    url(../fonts/HelveticaNeueRegular.woff) format("woff");
   font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Hubballi - Regular 400
@font-face {
  font-family: "Hubballi";
  src: url(../fonts/HubballiRegular.eot);
  src: url(../fonts/HubballiRegular.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/HubballiRegular.woff2) format("woff2"),
    url(../fonts/HubballiRegular.woff) format("woff");
   font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Kodchasan - Medium 500
@font-face {
  font-family: "Kodchasan";
  src: url(../fonts/KodchasanMedium.eot);
  src: url(../fonts/KodchasanMedium.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/KodchasanMedium.woff2) format("woff2"),
    url(../fonts/KodchasanMedium.woff) format("woff");
   font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Kodchasan - Regular 400
@font-face {
  font-family: "Kodchasan";
  src: url(../fonts/KodchasanRegular.eot);
  src: url(../fonts/KodchasanRegular.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/KodchasanRegular.woff2) format("woff2"),
    url(../fonts/KodchasanRegular.woff) format("woff");
   font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Kodchasan - SemiBold 600
@font-face {
  font-family: "Kodchasan";
  src: url(../fonts/KodchasanSemiBold.eot);
  src: url(../fonts/KodchasanSemiBold.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/KodchasanSemiBold.woff2) format("woff2"),
    url(../fonts/KodchasanSemiBold.woff) format("woff");
   font-weight: 600;
  font-style: normal;
  font-display: swap;
}

