.headerWrap {
  position: relative;
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.headerLogo {
  position: absolute;
  top: 5px;
  left: 0;
  width: 25%;
  max-width: 242px;
}

.headerContent {
  width: 75%;
}

.headerContactsWrap {
  margin-bottom: 5px;
  text-align: end;
}

.headerContacts {
  margin-right: 5px;
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-size: calcFluidFontSize(4, 15, 320, 1600);
  line-height: calcFluidLineHeight(5, 20, 320, 1600);
  color: $mainTextColor;
  
}


.navMenuList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $brandTextColor;
}


.navMenuText {
  padding: 10px 5px;
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-size: calcFluidFontSize(4, 15, 320, 1600);
  line-height: calcFluidLineHeight(5, 20, 320, 1600);
  text-align: center;
  color: $additionalTextColor;
}
